.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-items {
  margin-right: 30px;
}

.App-inputs {
  margin-top: 30px;
}

.Input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.Pools {
  width:100%;
  border:1px solid #b3adad;
  border-collapse:collapse;
  padding:5px;
}
.Pools th {
  border:1px solid #b3adad;
  padding:5px;
  background: #f0f0f0;
  color: #313030;
}
.Pools td {
  border:1px solid #b3adad;
  text-align:center;
  padding:5px;
  background: #ffffff;
  color: #313030;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
